--
-- PostgreSQL database dump
--

\restrict WTL4Z8PgCUo1YKeS1Lq0VdOBzpRKgdLc4ckmUWw2RbKag5GzWc0RxApJ836R3Nb

-- Dumped from database version 17.7 (Debian 17.7-3.pgdg13+1)
-- Dumped by pg_dump version 17.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Address; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Address" (
    id text NOT NULL,
    type text NOT NULL,
    line1 text NOT NULL,
    line2 text,
    city text NOT NULL,
    state text,
    "zipCode" text,
    country text NOT NULL,
    "thirdPartyId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Address" OWNER TO postgres;

--
-- Name: Contact; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Contact" (
    id text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    email text,
    phone text,
    mobile text,
    fax text,
    role text,
    "thirdPartyId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Contact" OWNER TO postgres;

--
-- Name: ContactType; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ContactType" (
    id text NOT NULL,
    name text NOT NULL,
    category text DEFAULT 'Client'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ContactType" OWNER TO postgres;

--
-- Name: Currency; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Currency" (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    symbol text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Currency" OWNER TO postgres;

--
-- Name: Equipment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Equipment" (
    id text NOT NULL,
    name text NOT NULL,
    "internalId" text,
    "serialNumber" text,
    "accountingCode" text,
    brand text,
    model text,
    status text DEFAULT 'Active'::text NOT NULL,
    "categoryId" text,
    "siteId" text,
    supplier text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Equipment" OWNER TO postgres;

--
-- Name: EquipmentCategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EquipmentCategory" (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."EquipmentCategory" OWNER TO postgres;

--
-- Name: Incoterm; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Incoterm" (
    id text NOT NULL,
    name text NOT NULL,
    "xmlCode" text NOT NULL,
    "requiresText" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Incoterm" OWNER TO postgres;

--
-- Name: Language; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Language" (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Language" OWNER TO postgres;

--
-- Name: MaintenanceSite; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MaintenanceSite" (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."MaintenanceSite" OWNER TO postgres;

--
-- Name: Material; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Material" (
    id text NOT NULL,
    name text NOT NULL,
    category text DEFAULT 'Stone'::text NOT NULL,
    type text NOT NULL,
    "purchasePrice" double precision DEFAULT 0 NOT NULL,
    "sellingPrice" double precision,
    unit text DEFAULT 'sqft'::text NOT NULL,
    density double precision,
    "wasteFactor" double precision DEFAULT 4 NOT NULL,
    "densityUnit" text DEFAULT 'lb/ft3'::text NOT NULL,
    quality text DEFAULT 'S'::text NOT NULL,
    "syncStatus" text DEFAULT 'DRAFT'::text NOT NULL,
    "validityDuration" integer,
    "sellingUnit" text DEFAULT 'sqft'::text NOT NULL,
    "imageUrl" text,
    "supplierId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Material" OWNER TO postgres;

--
-- Name: Part; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Part" (
    id text NOT NULL,
    name text NOT NULL,
    reference text,
    description text,
    note text,
    supplier text,
    "stockQuantity" double precision DEFAULT 0 NOT NULL,
    "minQuantity" double precision DEFAULT 0 NOT NULL,
    "reqQuantity" double precision DEFAULT 0 NOT NULL,
    "orderedQuantity" double precision DEFAULT 0 NOT NULL,
    "categoryId" text,
    "siteId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Part" OWNER TO postgres;

--
-- Name: PartCategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PartCategory" (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PartCategory" OWNER TO postgres;

--
-- Name: PaymentTerm; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PaymentTerm" (
    id text NOT NULL,
    code integer NOT NULL,
    label_en text NOT NULL,
    label_fr text NOT NULL,
    days integer DEFAULT 0 NOT NULL,
    "depositPercentage" double precision DEFAULT 0 NOT NULL,
    "discountPercentage" double precision DEFAULT 0 NOT NULL,
    "discountDays" integer DEFAULT 0 NOT NULL,
    "requiresText" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PaymentTerm" OWNER TO postgres;

--
-- Name: ProductionSite; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProductionSite" (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ProductionSite" OWNER TO postgres;

--
-- Name: Project; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Project" (
    id text NOT NULL,
    name text NOT NULL,
    reference text NOT NULL,
    status text NOT NULL,
    "thirdPartyId" text,
    "locationId" text,
    "measureSystem" text DEFAULT 'Imperial'::text NOT NULL,
    "estimatedWeeks" integer,
    "numberOfLines" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Project" OWNER TO postgres;

--
-- Name: ProjectLocation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProjectLocation" (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ProjectLocation" OWNER TO postgres;

--
-- Name: Quote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Quote" (
    id text NOT NULL,
    reference text NOT NULL,
    version integer DEFAULT 1 NOT NULL,
    currency text DEFAULT 'CAD'::text NOT NULL,
    "exchangeRate" double precision DEFAULT 1.0,
    incoterm text DEFAULT 'Ex Works'::text,
    "incotermId" text,
    "incotermCustomText" text,
    "semiStandardRate" double precision,
    "salesCurrency" text,
    "palletPrice" double precision,
    "palletRequired" boolean,
    "paymentTermId" text,
    "paymentDays" integer,
    "depositPercentage" double precision,
    "discountPercentage" double precision,
    "paymentCustomText" text,
    status text DEFAULT 'Draft'::text NOT NULL,
    "projectId" text NOT NULL,
    "thirdPartyId" text NOT NULL,
    "contactId" text,
    "materialId" text,
    "dateIssued" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validUntil" timestamp(3) without time zone,
    "totalAmount" double precision DEFAULT 0 NOT NULL,
    "estimatedWeeks" integer,
    "excelFilePath" text,
    "syncStatus" text,
    "odooId" text,
    "odooStatus" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "discountDays" integer,
    "validityDuration" integer,
    "representativeId" text
);


ALTER TABLE public."Quote" OWNER TO postgres;

--
-- Name: QuoteItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."QuoteItem" (
    id text NOT NULL,
    "quoteId" text NOT NULL,
    tag text,
    "lineNo" text,
    "refReference" text,
    product text,
    description text NOT NULL,
    material text NOT NULL,
    finish text,
    unit text,
    length double precision,
    width double precision,
    thickness double precision,
    quantity double precision DEFAULT 1 NOT NULL,
    "numHoles" integer DEFAULT 0 NOT NULL,
    "numSlots" integer DEFAULT 0 NOT NULL,
    "netLength" double precision DEFAULT 0 NOT NULL,
    "netArea" double precision DEFAULT 0 NOT NULL,
    "netVolume" double precision DEFAULT 0 NOT NULL,
    "totalWeight" double precision DEFAULT 0 NOT NULL,
    "unitPrice" double precision DEFAULT 0 NOT NULL,
    "totalPrice" double precision DEFAULT 0 NOT NULL,
    "unitPriceInternal" double precision DEFAULT 0 NOT NULL,
    "totalPriceInternal" double precision DEFAULT 0 NOT NULL,
    "unitPriceCad" double precision DEFAULT 0 NOT NULL,
    "unitPriceUsd" double precision DEFAULT 0 NOT NULL,
    "totalPriceCad" double precision DEFAULT 0 NOT NULL,
    "totalPriceUsd" double precision DEFAULT 0 NOT NULL,
    "stoneValue" double precision DEFAULT 0 NOT NULL,
    "primarySawingCost" double precision DEFAULT 0 NOT NULL,
    "secondarySawingCost" double precision DEFAULT 0 NOT NULL,
    "profilingCost" double precision DEFAULT 0 NOT NULL,
    "finishingCost" double precision DEFAULT 0 NOT NULL,
    "anchoringCost" double precision DEFAULT 0 NOT NULL,
    "unitTime" double precision DEFAULT 0 NOT NULL,
    "totalTime" double precision DEFAULT 0 NOT NULL,
    "productionStatus" text DEFAULT 'Pending'::text NOT NULL,
    "productionSiteId" text,
    "productionNotes" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."QuoteItem" OWNER TO postgres;

--
-- Name: RepairPart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RepairPart" (
    id text NOT NULL,
    "repairRequestId" text NOT NULL,
    "partId" text NOT NULL,
    quantity double precision DEFAULT 1 NOT NULL,
    action text DEFAULT 'USE'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RepairPart" OWNER TO postgres;

--
-- Name: RepairRequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RepairRequest" (
    id text NOT NULL,
    reference text,
    "equipmentId" text,
    title text,
    description text NOT NULL,
    priority text DEFAULT 'Normal'::text NOT NULL,
    status text DEFAULT 'Open'::text NOT NULL,
    requester text,
    mechanic text,
    "isMachineDown" boolean DEFAULT false NOT NULL,
    "isFunctional" boolean DEFAULT true NOT NULL,
    "detectionDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP,
    "dueDate" timestamp(3) without time zone,
    "closedAt" timestamp(3) without time zone,
    type text DEFAULT 'Repair'::text NOT NULL,
    "recurrenceFreq" text,
    "recurrenceDay" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RepairRequest" OWNER TO postgres;

--
-- Name: Representative; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Representative" (
    id text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    email text,
    phone text,
    mobile text,
    fax text,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Representative" OWNER TO postgres;

--
-- Name: Setting; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Setting" (
    id text NOT NULL,
    key text NOT NULL,
    value text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Setting" OWNER TO postgres;

--
-- Name: SystemConfig; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SystemConfig" (
    id text NOT NULL,
    key text DEFAULT 'GLOBAL'::text NOT NULL,
    "defaultSemiStandardRate" double precision DEFAULT 0.4 NOT NULL,
    "defaultSalesCurrency" text DEFAULT 'CAD'::text NOT NULL,
    "defaultPalletPrice" double precision DEFAULT 50.0 NOT NULL,
    "defaultPalletRequired" boolean DEFAULT false NOT NULL,
    "defaultPaymentDays" integer DEFAULT 30 NOT NULL,
    "defaultDepositPercentage" double precision DEFAULT 0 NOT NULL,
    "defaultDiscountPercentage" double precision DEFAULT 0 NOT NULL,
    "defaultDiscountDays" integer DEFAULT 10 NOT NULL,
    "defaultExchangeRate" double precision DEFAULT 1.0 NOT NULL,
    "defaultPaymentTermId" text,
    "taxRateTPS" double precision DEFAULT 5.0 NOT NULL,
    "taxRateTVQ" double precision DEFAULT 9.975 NOT NULL,
    "taxRateTVH" double precision DEFAULT 13.0 NOT NULL,
    "taxRateTVH_Maritimes" double precision DEFAULT 15.0 NOT NULL,
    "defaultMeasureUnit" text DEFAULT 'an'::text NOT NULL,
    "defaultValidityDuration" integer DEFAULT 30 NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SystemConfig" OWNER TO postgres;

--
-- Name: ThirdParty; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ThirdParty" (
    id text NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    code text,
    email text,
    phone text,
    fax text,
    website text,
    "defaultCurrency" text DEFAULT 'CAD'::text NOT NULL,
    "paymentTerms" text,
    "paymentTermId" text,
    "paymentDays" integer DEFAULT 0 NOT NULL,
    "depositPercentage" double precision DEFAULT 0 NOT NULL,
    "discountPercentage" double precision DEFAULT 0 NOT NULL,
    "discountDays" integer DEFAULT 0 NOT NULL,
    "paymentCustomText" text,
    "supplierType" text,
    "taxScheme" text,
    "creditLimit" double precision,
    "repName" text,
    language text DEFAULT 'fr'::text NOT NULL,
    "unitSystem" text DEFAULT 'Imperial'::text NOT NULL,
    incoterm text,
    "incotermId" text,
    "incotermCustomText" text,
    "priceListUrl" text,
    "priceListDate" text,
    "semiStandardRate" double precision,
    "salesCurrency" text,
    "palletPrice" double precision,
    "palletRequired" boolean,
    "internalNotes" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "exchangeRate" double precision,
    "validityDuration" integer
);


ALTER TABLE public."ThirdParty" OWNER TO postgres;

--
-- Data for Name: Address; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Contact; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ContactType; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Currency; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Currency" (id, code, name, symbol, "createdAt", "updatedAt") FROM stdin;
2bf79548-1df6-4aeb-816e-149108c53d20	CAD	Dollar Canadien	$	2025-12-13 01:43:39.228	2025-12-13 01:43:39.228
056b78f6-3bc5-427a-967d-ef4817dcf084	USD	Dollar Am├®ricain	US$	2025-12-13 01:43:39.228	2025-12-13 01:43:39.228
\.


--
-- Data for Name: Equipment; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: EquipmentCategory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Incoterm; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Incoterm" (id, name, "xmlCode", "requiresText", "createdAt", "updatedAt") FROM stdin;
96e8bd0e-67dd-412b-81b7-49f7e8cef1e0	FOB	FOB	f	2025-12-17 16:02:49.686	2025-12-17 16:02:49.686
df457872-7df9-494f-9f3b-308e4791f5b1	Saisie Libre	Saisie Libre	f	2025-12-17 16:02:49.941	2025-12-17 16:02:49.941
46ccef01-0f67-49d4-b730-66cb1849f312	Ex Works	Ex Works	f	2025-12-17 16:02:50.074	2025-12-17 16:02:50.074
\.


--
-- Data for Name: Language; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Language" (id, code, name, "createdAt", "updatedAt") FROM stdin;
224bd847-7c68-4b52-8e4b-62a36e6ec297	fr	Fran├ºais	2025-12-13 01:43:39.227	2025-12-13 01:43:39.227
265712e7-531c-42ff-8a09-cb8d6c29d361	en	English	2025-12-13 01:43:39.227	2025-12-13 01:43:39.227
\.


--
-- Data for Name: MaintenanceSite; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Material; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Part; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PartCategory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PaymentTerm; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ProductionSite; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ProductionSite" (id, name, "createdAt", "updatedAt") FROM stdin;
695cf438-9350-4392-87cd-5195851bfe91	Usines Rap	2025-12-13 02:06:11.515	2025-12-13 02:06:11.515
52cf87d1-6925-4dcb-b3aa-418c42d2a0eb	Usine 4 Ogden	2025-12-13 02:06:19.129	2025-12-13 02:06:19.129
fc0159b8-a1af-48a9-8b2e-f9dca0e4d3a5	Usine 6 Ogden	2025-12-13 02:06:26.079	2025-12-13 02:06:26.079
9e7a58ba-43b1-4fd4-b919-821c9a2bcfa7	Usine 5 Ogden	2025-12-13 02:06:34.866	2025-12-13 02:06:34.866
2e404c00-73f6-4573-a21d-90b182706c7c	Carri├¿re S&P Ogden	2025-12-13 02:06:51.709	2025-12-13 02:06:51.709
\.


--
-- Data for Name: Project; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Project" (id, name, reference, status, "thirdPartyId", "locationId", "measureSystem", "estimatedWeeks", "numberOfLines", "createdAt", "updatedAt") FROM stdin;
4fa415a5-dd85-4099-aa08-dde0b2a9f22f	essai5	P25-0001	Prospect	\N	59260712-6c14-4a24-b693-591f55dceaa0	Imperial	3	5	2025-12-14 22:48:25.603	2025-12-17 15:12:08.841
\.


--
-- Data for Name: ProjectLocation; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Quote; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: QuoteItem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: RepairPart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RepairPart" (id, "repairRequestId", "partId", quantity, action, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: RepairRequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RepairRequest" (id, reference, "equipmentId", title, description, priority, status, requester, mechanic, "isMachineDown", "isFunctional", "detectionDate", "dueDate", "closedAt", type, "recurrenceFreq", "recurrenceDay", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Representative; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Representative" (id, "firstName", "lastName", email, phone, mobile, fax, active, "createdAt", "updatedAt") FROM stdin;
8e9305fa-982f-43f4-bad0-de1104fc73a8	Steve	Pouliot	spouliot@stoneatlantic.com	(418) 559-9423	(418) 559-9423		t	2025-12-13 02:08:49.678	2025-12-13 02:08:49.678
08e1b673-ba1d-4e45-9c85-8083023a441f	Thomas	Leguen de Kergolan	thomasldk@granitedrc.com		+1 (514) 928-5195		t	2025-12-13 18:37:16.766	2025-12-13 18:37:16.766
\.


--
-- Data for Name: Setting; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Setting" (id, key, value, description, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: SystemConfig; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SystemConfig" (id, key, "defaultSemiStandardRate", "defaultSalesCurrency", "defaultPalletPrice", "defaultPalletRequired", "defaultPaymentDays", "defaultDepositPercentage", "defaultDiscountPercentage", "defaultDiscountDays", "defaultExchangeRate", "defaultPaymentTermId", "taxRateTPS", "taxRateTVQ", "taxRateTVH", "taxRateTVH_Maritimes", "defaultMeasureUnit", "defaultValidityDuration", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ThirdParty; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Address Address_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Address"
    ADD CONSTRAINT "Address_pkey" PRIMARY KEY (id);


--
-- Name: ContactType ContactType_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ContactType"
    ADD CONSTRAINT "ContactType_pkey" PRIMARY KEY (id);


--
-- Name: Contact Contact_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Contact"
    ADD CONSTRAINT "Contact_pkey" PRIMARY KEY (id);


--
-- Name: Currency Currency_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Currency"
    ADD CONSTRAINT "Currency_pkey" PRIMARY KEY (id);


--
-- Name: EquipmentCategory EquipmentCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EquipmentCategory"
    ADD CONSTRAINT "EquipmentCategory_pkey" PRIMARY KEY (id);


--
-- Name: Equipment Equipment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Equipment"
    ADD CONSTRAINT "Equipment_pkey" PRIMARY KEY (id);


--
-- Name: Incoterm Incoterm_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Incoterm"
    ADD CONSTRAINT "Incoterm_pkey" PRIMARY KEY (id);


--
-- Name: Language Language_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Language"
    ADD CONSTRAINT "Language_pkey" PRIMARY KEY (id);


--
-- Name: MaintenanceSite MaintenanceSite_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MaintenanceSite"
    ADD CONSTRAINT "MaintenanceSite_pkey" PRIMARY KEY (id);


--
-- Name: Material Material_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Material"
    ADD CONSTRAINT "Material_pkey" PRIMARY KEY (id);


--
-- Name: PartCategory PartCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PartCategory"
    ADD CONSTRAINT "PartCategory_pkey" PRIMARY KEY (id);


--
-- Name: Part Part_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Part"
    ADD CONSTRAINT "Part_pkey" PRIMARY KEY (id);


--
-- Name: PaymentTerm PaymentTerm_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentTerm"
    ADD CONSTRAINT "PaymentTerm_pkey" PRIMARY KEY (id);


--
-- Name: ProductionSite ProductionSite_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductionSite"
    ADD CONSTRAINT "ProductionSite_pkey" PRIMARY KEY (id);


--
-- Name: ProjectLocation ProjectLocation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProjectLocation"
    ADD CONSTRAINT "ProjectLocation_pkey" PRIMARY KEY (id);


--
-- Name: Project Project_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_pkey" PRIMARY KEY (id);


--
-- Name: QuoteItem QuoteItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuoteItem"
    ADD CONSTRAINT "QuoteItem_pkey" PRIMARY KEY (id);


--
-- Name: Quote Quote_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_pkey" PRIMARY KEY (id);


--
-- Name: RepairPart RepairPart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RepairPart"
    ADD CONSTRAINT "RepairPart_pkey" PRIMARY KEY (id);


--
-- Name: RepairRequest RepairRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RepairRequest"
    ADD CONSTRAINT "RepairRequest_pkey" PRIMARY KEY (id);


--
-- Name: Representative Representative_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Representative"
    ADD CONSTRAINT "Representative_pkey" PRIMARY KEY (id);


--
-- Name: Setting Setting_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Setting"
    ADD CONSTRAINT "Setting_pkey" PRIMARY KEY (id);


--
-- Name: SystemConfig SystemConfig_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SystemConfig"
    ADD CONSTRAINT "SystemConfig_pkey" PRIMARY KEY (id);


--
-- Name: ThirdParty ThirdParty_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ThirdParty"
    ADD CONSTRAINT "ThirdParty_pkey" PRIMARY KEY (id);


--
-- Name: ContactType_name_category_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ContactType_name_category_key" ON public."ContactType" USING btree (name, category);


--
-- Name: Currency_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Currency_code_key" ON public."Currency" USING btree (code);


--
-- Name: EquipmentCategory_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "EquipmentCategory_name_key" ON public."EquipmentCategory" USING btree (name);


--
-- Name: Equipment_internalId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Equipment_internalId_key" ON public."Equipment" USING btree ("internalId");


--
-- Name: Language_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Language_code_key" ON public."Language" USING btree (code);


--
-- Name: MaintenanceSite_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "MaintenanceSite_name_key" ON public."MaintenanceSite" USING btree (name);


--
-- Name: PartCategory_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PartCategory_name_key" ON public."PartCategory" USING btree (name);


--
-- Name: PaymentTerm_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PaymentTerm_code_key" ON public."PaymentTerm" USING btree (code);


--
-- Name: ProductionSite_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ProductionSite_name_key" ON public."ProductionSite" USING btree (name);


--
-- Name: ProjectLocation_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ProjectLocation_name_key" ON public."ProjectLocation" USING btree (name);


--
-- Name: Project_reference_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Project_reference_key" ON public."Project" USING btree (reference);


--
-- Name: Quote_reference_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Quote_reference_key" ON public."Quote" USING btree (reference);


--
-- Name: RepairRequest_reference_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "RepairRequest_reference_key" ON public."RepairRequest" USING btree (reference);


--
-- Name: Setting_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Setting_key_key" ON public."Setting" USING btree (key);


--
-- Name: SystemConfig_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "SystemConfig_key_key" ON public."SystemConfig" USING btree (key);


--
-- Name: ThirdParty_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ThirdParty_code_key" ON public."ThirdParty" USING btree (code);


--
-- Name: Address Address_thirdPartyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Address"
    ADD CONSTRAINT "Address_thirdPartyId_fkey" FOREIGN KEY ("thirdPartyId") REFERENCES public."ThirdParty"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Contact Contact_thirdPartyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Contact"
    ADD CONSTRAINT "Contact_thirdPartyId_fkey" FOREIGN KEY ("thirdPartyId") REFERENCES public."ThirdParty"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Equipment Equipment_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Equipment"
    ADD CONSTRAINT "Equipment_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."EquipmentCategory"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Equipment Equipment_siteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Equipment"
    ADD CONSTRAINT "Equipment_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES public."MaintenanceSite"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Material Material_supplierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Material"
    ADD CONSTRAINT "Material_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES public."ThirdParty"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Part Part_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Part"
    ADD CONSTRAINT "Part_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."PartCategory"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Part Part_siteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Part"
    ADD CONSTRAINT "Part_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES public."MaintenanceSite"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Project Project_locationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_locationId_fkey" FOREIGN KEY ("locationId") REFERENCES public."ProjectLocation"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Project Project_thirdPartyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_thirdPartyId_fkey" FOREIGN KEY ("thirdPartyId") REFERENCES public."ThirdParty"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: QuoteItem QuoteItem_productionSiteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuoteItem"
    ADD CONSTRAINT "QuoteItem_productionSiteId_fkey" FOREIGN KEY ("productionSiteId") REFERENCES public."ProductionSite"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: QuoteItem QuoteItem_quoteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuoteItem"
    ADD CONSTRAINT "QuoteItem_quoteId_fkey" FOREIGN KEY ("quoteId") REFERENCES public."Quote"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Quote Quote_contactId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES public."Contact"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Quote Quote_incotermId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_incotermId_fkey" FOREIGN KEY ("incotermId") REFERENCES public."Incoterm"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Quote Quote_materialId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_materialId_fkey" FOREIGN KEY ("materialId") REFERENCES public."Material"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Quote Quote_paymentTermId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_paymentTermId_fkey" FOREIGN KEY ("paymentTermId") REFERENCES public."PaymentTerm"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Quote Quote_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Quote Quote_representativeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_representativeId_fkey" FOREIGN KEY ("representativeId") REFERENCES public."Representative"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Quote Quote_thirdPartyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_thirdPartyId_fkey" FOREIGN KEY ("thirdPartyId") REFERENCES public."ThirdParty"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RepairPart RepairPart_partId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RepairPart"
    ADD CONSTRAINT "RepairPart_partId_fkey" FOREIGN KEY ("partId") REFERENCES public."Part"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RepairPart RepairPart_repairRequestId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RepairPart"
    ADD CONSTRAINT "RepairPart_repairRequestId_fkey" FOREIGN KEY ("repairRequestId") REFERENCES public."RepairRequest"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RepairRequest RepairRequest_equipmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RepairRequest"
    ADD CONSTRAINT "RepairRequest_equipmentId_fkey" FOREIGN KEY ("equipmentId") REFERENCES public."Equipment"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ThirdParty ThirdParty_incotermId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ThirdParty"
    ADD CONSTRAINT "ThirdParty_incotermId_fkey" FOREIGN KEY ("incotermId") REFERENCES public."Incoterm"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ThirdParty ThirdParty_paymentTermId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ThirdParty"
    ADD CONSTRAINT "ThirdParty_paymentTermId_fkey" FOREIGN KEY ("paymentTermId") REFERENCES public."PaymentTerm"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict WTL4Z8PgCUo1YKeS1Lq0VdOBzpRKgdLc4ckmUWw2RbKag5GzWc0RxApJ836R3Nb

